{% extends '::base.html.twig' %}

{% block body -%}
<script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>

<script>


$(document).ready(function(){
		$('.botoes').hide();

	});
</script>
    <h1>Notícia › Novo</h1>

	<ul class="record_actions">
		<li><a href="javascript:history.back()"><i class="icon-arrow-left"></i> Voltar</a></li>
	</ul>

	{{ form_start(edit_form, { attr: { 'novalidate': 'novalidate' }}) }}
	    <div>
			{{ form_label(edit_form.title,'Título') }}
			{{ form_errors(edit_form.title) }}
			{{ form_widget(edit_form.title) }}
		</div>

		<div>
			{{ form_label(edit_form.content,'Conteúdo') }}
			{{ form_errors(edit_form.content) }}
			{{ form_widget(edit_form.content) }}
		</div>

		<div>
			{{ form_label(edit_form.file,'Imagem') }}
			{{ form_errors(edit_form.file) }}
			{{ form_widget(edit_form.file) }}
		</div>

		<div>
			{{ form_label(edit_form.tags,'Tags') }}
			{{ form_errors(edit_form.tags) }}
			{{ form_widget(edit_form.tags) }}
			<span class="explicacao">(separar por vírgulas)</span>
		</div>

		<div>
			{{ form_label(edit_form.related1,'Notícia Relacionada 1') }}
			{{ form_errors(edit_form.related1) }}
			{{ form_widget(edit_form.related1) }}
		</div>

		<div>
			{{ form_label(edit_form.related2,'Notícia Relacionada 2') }}
			{{ form_errors(edit_form.related2) }}
			{{ form_widget(edit_form.related2) }}
		</div>

    <ul class="botoes">
			<li>
				{{ form_widget(edit_form.save)}}
				
			</li>
			<li>
				{{ form_widget(edit_form.save_and_publish) }}
			</li>
		</ul>
	{{ form_end(edit_form) }}


     <ul class="record_actions">
		<li><a href="javascript:history.back()"><i class="icon-arrow-left"></i> Voltar</a></li>
	</ul>
{% endblock %}
