{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Serviços</h1>
    <ul class="botoes">
        <li><a href="{{ path('servicos_new') }}" class="botaoCriar"><i class="icon-plus"></i> Inserir novo serviço</a></li>
    </ul>
    <table class="records_list">
        <thead>
            <tr>
                <th>Ações</th>
                <th>Serviço</th>
                <th>Imagem</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            

        {% for entity in entities %}
            <tr>
                <td>
                    <ul class="ordenacao">
                        <li><i class="icon-arrow-up disabled"></i></li>
                        <li><a href="#" title="mover para baixo"><i class="icon-arrow-down"></i></a></li>
                        <li><a href="#" title="ocultar"><i class="icon-eye-open"></i></a></li>
                        <li><a href="{{ path('servicos_edit', { 'id': entity.id }) }}" title="editar"><i class="icon-edit"></i></a></li>
                        <li><a href="#" title="apagar"><i class="icon-trash"></i></a></li>
                    </ul>
                </td>
                <td>{{ entity.name }}</td>
                <td>{% if (entity.pic) %}<img src="{{ asset(entity.pic) }}" style="width: 98px;" />{% endif %}</td>
                <td>/{{ entity.slug }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
    <ul class="botoes">
        <li><a href="{{ path('servicos_new') }}" class="botaoCriar"><i class="icon-plus"></i> Inserir novo serviço</a></li>
    </ul>
    {% endblock %}
