{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Serviço › Novo</h1>

	<ul class="record_actions">
		<li><a href="javascript:history.back()"><i class="icon-arrow-left"></i> Voltar</a></li>
	</ul>

	{{ form_start(form, { attr: { 'novalidate': 'novalidate' }}) }}
	    <div>
			{{ form_label(form.name,'Nome') }}
			{{ form_errors(form.name) }}
			{{ form_widget(form.name) }}
		</div>

		<div>
			{{ form_label(form.description,'Descrição') }}
			{{ form_errors(form.description) }}
			{{ form_widget(form.description) }}
		</div>

		<div>
			{{ form_label(form.file,'Imagem') }}
			{{ form_errors(form.file) }}
			{{ form_widget(form.file) }}
		</div>

    <ul class="botoes">
			
				<li>
				{{ form_widget(form.save)}}
				
			</li>
			<li>
				{{ form_widget(form.save_and_publish) }}
			</li>
				
			
			
		</ul>
	{{ form_end(form) }}


     <ul class="record_actions">
		<li><a href="javascript:history.back()"><i class="icon-arrow-left"></i> Voltar</a></li>
	</ul>
{% endblock %}
