<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spa das Sobrancelhas {% block title %}{% endblock %}</title>
<link href="{{ asset('/bundles/spafrontend/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
{% block javascripts %}
{% javascripts
	'@SpaFrontendBundle/Resources/public/js/jquery.min.js'
	'@SpaFrontendBundle/Resources/public/js/jquery.fancybox.js'
	'@SpaFrontendBundle/Resources/public/js/jquery.fancybox-media.js'
    	  
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{% stylesheets 
	'bundles/spafrontend/css/default.css'
	'bundles/spafrontend/css/jquery.fancybox.css' 

filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<div id="container">
	<div id="cabecalho">
		<h1><a href="/" title="Home"><span>Spa das Sobrancelhas</span></a></h1>

		{{ include('SpaFrontendBundle::nav.html.twig') }}


	</div>
	<div id="conteudo">
	<div class="margem">
		{% block body %}{% endblock %}
	</div>
	</div>
	<div id="rodape">
		<div id="rodapeNav">
			<h1><a href="/" title="Home"><img src="{{ asset('bundles/spafrontend/images/rodape-spadassobrancelhas-logotipo.png') }}" /></a></h1>
			
			{{ include('SpaFrontendBundle::nav.html.twig') }}

			<ul class="logos">
				<li id="abfLogo"><img src="{{ asset('bundles/spafrontend/images/rodape-abf-logotipo.png') }}" /></li>
				<li id="abfSelo"><img src="{{ asset('bundles/spafrontend/images/rodape-selo-excelencia-abf.png') }}" /></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
