<ul class="nav">

	
	<li class="promocoes"><a href="{{ path('spa_frontend_promotion') }}">Promoções</a></li>
	<li class="unidades"><a href="{{ path('spa_frontend_unit') }}">Unidades</a></li>
	
	{{ render(controller('SpaFrontendBundle:Default:renderMenu')) }}

	<li class="noticias"><a href="{{ path('spa_frontend_news') }}">Notícias</a></li>
	<li class="sejaFranqueado"><a href="{{ path('spa_frontend_sejafranqueado') }}">Seja um Franqueado</a></li>
</ul>


<ul class="navSec">
	<li class="institucional"><a href="{{ path('spa_frontend_institucional') }}">institucional</a></li>
	<li class="faleconosco"><a href="{{ path('spa_frontend_contact') }}">fale conosco</a></li>
	<li class="siga">
		siga-nos 
		<span class="sigaIcones">
			<a id="navTwitter" class="navSigaItem" href="https://twitter.com/SdaSobrancelhas" target="_blank" title="Twitter"><span>twitter</span></a>
			<a id="navFacebook" class="navSigaItem" href="https://www.facebook.com/SdaSobrancelhas" target="_blank" title="Facebook"><span>facebook</span></a>
			<a id="navYoutube" class="navSigaItem" href="http://www.youtube.com/user/spasobrancelhas" target="_blank" title="Youtube"><span>youtube</span></a>
		</span>
	</li>
	<li class="areaFranqueado"><a href="javascript:void(0)" onclick="$('#areafranqueado').show()">área do franqueado</a></li>
</ul>

