{% extends '::base.html.twig' %}

{% block body -%}
  
  <script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>

	  <script type="text/javascript">


	$(document).ready(function(){
		{% if (entity.page == 'faleconosco' or entity.page == 'seja-um-franqueado') %}
			$("#form_show").show();
		{% else %}
			$("#form_show").hide();
		{% endif %}
	});

	  </script>
  
    <h1>{% if entity.page == 'faleconosco' %}
    		Fale Conosco
    	{% elseif (entity.page == 'seja-um-franqueado') %}
    		Seja Franqueado
		{% elseif (entity.page == 'servicos') %}
			Serviços
		{% elseif (entity.page == 'institucional') %}
			Institucional
    	{% endif %}
    </h1>

 
	{{ form_start(edit_form, { attr: { 'novalidate': 'novalidate' }}) }}
	    <div>
			{{ form_label(edit_form.content,'Conteúdo') }}
			{{ form_errors(edit_form.content) }}
			{{ form_widget(edit_form.content) }}
		</div>
		
     	
		<br />
		<div id="form_show">
			{{ form_label(edit_form.form, 'Formulário') }}
			<span class="explicacao">Este campo é para usuários avançados, qualquer alteração pode comprometer o funcionamento do formulário.</span><br />
			{{ form_errors(edit_form.form) }}
			{{ form_widget(edit_form.form) }}
		</div>
		

		<ul class="botoes">
			<li>
				{{ form_widget(edit_form.submit, { label: 'Atualizar' })}}
				
			</li>
			
		</ul>
	{{ form_end(edit_form) }}

{% endblock %}
