{% extends '::base.html.twig' %}

{% block body -%}
  
    <h1>{% if entity.page == 'faleconosco' %}Fale Conosco{% else %}Seja Franqueado{% endif %}</h1>

 
	{{ form_start(edit_form, { attr: { 'novalidate': 'novalidate' }}) }}
	    <div>
			{{ form_label(edit_form.content,'Conteúdo') }}
			{{ form_errors(edit_form.content) }}
			{{ form_widget(edit_form.content) }}
		</div>

		<div>
			{{ form_label(edit_form.form, 'Formulário') }}
			<span class="explicacao">Este campo é para usuários avançados, qualquer alteração pode comprometer o funcionamento do formulário.</span>
			{{ form_errors(edit_form.form) }}
			{{ form_widget(edit_form.form) }}
		</div>

		<ul class="botoes">
			<li>
				{{ form_widget(edit_form.submit, { label: 'Atualizar' })}}
				
			</li>
			
		</ul>
	{{ form_end(edit_form) }}

{% endblock %}
