{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Home › Slider › Editar</h1>

    <ul class="record_actions">
		<li><a href="{{ path('slider') }}"><i class="icon-arrow-left"></i> Voltar para lista</a></li>
	</ul>

	{{ form_start(edit_form) }}

		<div>
			{{ form_label(edit_form.file, 'Imagem') }}

			<span class="boxImagem"><img src="{{ asset(entity.pic) }}" style="width: 98px;"><a href="#" class="alterarImagem"></span>



			{{ form_errors(edit_form.file) }}
			{{ form_widget(edit_form.file) }}
		</div>

		<div>
			{{ form_label(edit_form.url,'Link') }}
			{{ form_errors(edit_form.url) }}
			{{ form_widget(edit_form.url) }}
		</div>


		<ul class="botoes">
			<li>
				{{ form_widget(edit_form.save)}}
				
			</li>
			<li>
				{{ form_widget(edit_form.save_and_publish) }}
			</li>
		</ul>
		
	    <ul class="record_actions">
			<li><a href="{{ path('slider') }}"><i class="icon-arrow-left"></i> Voltar para lista</a></li>
		</ul>
	{{ form_end(edit_form) }}
	

{% endblock %}
