{% extends '::base.html.twig' %}

{% block body -%}
<script src="/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {
			{% if (entity.type == 'vimeo' or entity.type == 'youtube') %}       
           		$("#spa_backendbundle_video_file").hide();
				$('label[for=spa_backendbundle_video_file]').hide();
			{% endif %}
     });

function showFile()
{
	if ($("#spa_backendbundle_video_type").val() != "vimeo" && $("#spa_backendbundle_video_type").val() != "youtube" )
	{
		$("#spa_backendbundle_video_file").show();
		$('label[for=spa_backendbundle_video_file]').show();
		$(".boxImagem").show();
	}
	else
	{
	
		$("#spa_backendbundle_video_file").hide();
		$('label[for=spa_backendbundle_video_file]').hide();
		$(".boxImagem").hide();
	}
}
</script>
   <h1>Home › Vídeo</h1>

 
	{{ form_start(edit_form, { attr: { 'novalidate': 'novalidate' }}) }}
	    <div>
			{{ form_label(edit_form.url,'URL') }}
			{{ form_errors(edit_form.url) }}
			{{ form_widget(edit_form.url) }}
		</div>

		<div>
			{{ form_label(edit_form.description,'Descrição') }}
			{{ form_errors(edit_form.description) }}
			{{ form_widget(edit_form.description) }}
		</div>

		<div>
			{{ form_label(edit_form.type,'Origem') }}
			{{ form_errors(edit_form.type) }}
			{{ form_widget(edit_form.type) }}
		</div>

		<div>
			{{ form_label(edit_form.file, 'Imagem') }}

			<span class="boxImagem"><img src="{{ asset(entity.pic) }}" style="width: 98px;"><a href="#" class="alterarImagem"></span>

			{{ form_errors(edit_form.file) }}
			{{ form_widget(edit_form.file) }}
		</div>

		


		<ul class="botoes">
			<li>
				{{ form_widget(edit_form.submit, { label: 'Atualizar' })}}
				
			</li>
			
		</ul>
	{{ form_end(edit_form) }}
{% endblock %}
