<div class="localizeUnidade">
	<h4>Localize uma unidade Spa das Sobrancelhas</h4>
	<div class="boxesContainer">
		<form>
			<select id="estado" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
				<option value="" selected="selected">Selecione seu Estado</option>
				<option value="{{ path('spa_frontend_unit') }}#acre">Acre</option>
				<option value="{{ path('spa_frontend_unit') }}#alagoas">Alagoas</option>
				<option value="{{ path('spa_frontend_unit') }}#amapa">Amapá</option>
				<option value="{{ path('spa_frontend_unit') }}#amazonas">Amazonas</option>
				<option value="{{ path('spa_frontend_unit') }}#bahia">Bahia</option>
				<option value="{{ path('spa_frontend_unit') }}#ceara">Ceará</option>
				<option value="{{ path('spa_frontend_unit') }}#distrito-federal">Distrito Federal</option>
				<option value="{{ path('spa_frontend_unit') }}#espirito-santo">Espírito Santo</option>
				<option value="{{ path('spa_frontend_unit') }}#goias">Goiás</option>
				<option value="{{ path('spa_frontend_unit') }}#maranhao">Maranhão</option>
				<option value="{{ path('spa_frontend_unit') }}#mato-grosso">Mato Grosso</option>
				<option value="{{ path('spa_frontend_unit') }}#mato-grosso-do-sul">Mato Grosso do Sul</option>
				<option value="{{ path('spa_frontend_unit') }}#minas-gerais">Minas Gerais</option>
				<option value="{{ path('spa_frontend_unit') }}#para">Pará</option>
				<option value="{{ path('spa_frontend_unit') }}#paraiba">Paraíba</option>
				<option value="{{ path('spa_frontend_unit') }}#parana">Paraná</option>
				<option value="{{ path('spa_frontend_unit') }}#pernambuco">Pernambuco</option>
				<option value="{{ path('spa_frontend_unit') }}#piaui">Piauí</option>
				<option value="{{ path('spa_frontend_unit') }}#rio-de-janeiro">Rio de Janeiro</option>
				<option value="{{ path('spa_frontend_unit') }}#rio-grande-do-norte">Rio Grande do Norte</option>
				<option value="{{ path('spa_frontend_unit') }}#rio-grande-do-sul">Rio Grande do Sul</option>
				<option value="{{ path('spa_frontend_unit') }}#rondonia">Rondônia</option>
				<option value="{{ path('spa_frontend_unit') }}#roraima">Roraima</option>
				<option value="{{ path('spa_frontend_unit') }}#santa-catarina">Santa Catarina</option>
				<option value="{{ path('spa_frontend_unit') }}#sao-paulo">São Paulo</option>
				<option value="{{ path('spa_frontend_unit') }}#sergipe">Sergipe</option>
				<option value="{{ path('spa_frontend_unit') }}#tocantins">Tocantins</option>
			</select>
			<select id="cidades" onchange="buscaCidade()" style="display:none;" name="cidades"><option value="" selected="selected"></option></select>
			<div id="nocity" style="display:none; text-align: center; color: white">Não existe unidade disponível para este estado</div>
			<div id="div_carregando" style="display:none; text-align: center;"><img src="/_imgs/carregando.gif"></div>
		</form>
	</div>
</div>