{% extends 'SpaFrontendBundle::layout.html.twig' %}


{% block body_class %}institucional{% endblock %}
{% block body %}
<div class="slider"><img src="{{ asset('bundles/spafrontend/images/institucional-slider-01.jpg') }}" /></div>
		<h2>A Rede Spa das Sobrancelhas</h2>
		<div class="c02 banner">
			<div class="colConteudo">
				{{ content.content|raw }}
			</div>
			<div class="colBanners">
				{{ render(controller('SpaFrontendBundle:Default:showBanner', { 'page': 'institucional' })) }}
			</div>
			<hr class="fim" />
		</div>
		<hr class="video" />
		<h3 class="box">Confira nosso vídeo de apresentação e conheça um pouco de nossa história de sucesso.</h3>
		{% if video.url %}
			{{ video.url|raw }}
		{% else %}
		<p class="video-institucional-thumb">
			<video controls="controls" poster="{{ asset(video.pic) }}" width="100%">
				<source src="{{ asset(video.mp4) }}" type="video/mp4" />
				<source src="{{ asset(video.webm) }}" type="video/webm" />
				<source src="{{ asset(video.ogv) }}" type="video/ogg" />
				<object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="100%">
					<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="wmode" value="transparent" />
					<param name="flashVars" value="config={'playlist':['{{ asset(video.pic) }}',{'url':'{{ asset(video.mp4) }}','autoPlay':false}]}" />
					<img src="{{ asset(video.pic) }}" />
				</object>
			</video>
		</p>
		{% endif %}
		<hr class="fim" />


{% endblock %}


