{% extends 'SpaFrontendBundle::layout.html.twig' %}


{% block body_class %}institucional{% endblock %}
{% block body %}
<div class="slider"><img src="{{ asset('bundles/spafrontend/images/institucional-slider-01.jpg') }}" /></div>
		<h2>A Rede Spa das Sobrancelhas</h2>
		<div class="c02 banner">
			<div class="colConteudo">
				{{ content.content|raw }}
			</div>
			<div class="colBanners">
				{{ render(controller('SpaFrontendBundle:Default:showBanner', { 'page': 'institucional' })) }}
			</div>
			<hr class="fim" />
		</div>
		<hr class="video" />
		<h3 class="box">Confira nosso vídeo de apresentação e conheça um pouco de nossa história de sucesso.</h3>
		<p class="video-institucional-thumb"><video controls="controls" poster="{{ asset('bundles/spafrontend/images/institucional-video.jpg') }}" width="100%">
							<source src="/video-1.mp4" type="video/mp4" />
							
							<object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="100%">
								<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
								<param name="allowFullScreen" value="true" />
								<param name="wmode" value="transparent" />
								<param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.spadassobrancelhas.com.br%2Fnewsletter%2F2013maio%2F1%2Fimg%2Fbg-video-1.jpg',{'url':'http%3A%2F%2Fwww.spadassobrancelhas.com.br%2Fnewsletter%2F2013maio%2F1%2Fvideo%2Fvideo-1.mp4','autoPlay':false}]}" />
								<img src="{{ asset('bundles/spafrontend/images/institucional-video.jpg') }}" />
							</object>
						</video><!--<a href="#"><img src="/_imgs/institucional-video.jpg" /></a>--></p>
		<hr class="fim" />

{% endblock %}


