{% extends 'SpaFrontendBundle::layout.html.twig' %}


{% block body_class %}servicos{% endblock %}
{% block body %}
<script>
$(document).ready(function() {
    // Get the  current URL
    var pathname = window.location;
 
   // Create the twitter URL
    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Spa das Sobrancelhas';
 
    // Place the text on the page. Change body to wherever you want the button placed. 
    $('.share').prepend('<a class="shareTwitter" target="_blank" href=" '+ tweeturl+' "><span>twitter</span></a>');


    var hash = window.location.hash.substring(1);
    console.log(hash);
});


function showService(id)
{
	//$("#principal").hide();

	$("li").removeClass("foco");
	$(".colDescricao").hide();
	$("#" + id).addClass("foco");
	$("#desc_" + id).show();

}
</script>


		<h2>Servicos</h2>
		<hr class="titulo" />
		<div class="c02">
			<div class="colConteudo">
				<ul class="submenu-interno">
					{% for service in services %}
						<li id="{{ service.id }}">
							<a href="{{ path('spa_frontend_show_service', { slug: service.slug }) }}" onclick='showService({{ service.id }})'>{{ service.name }}</a><span></span>
						</li>
					{% endfor %}


				</ul>
				<div class="colDescricao" id="principal">
					<p>O Spa das Sobrancelhas reúne serviços especialmente desenvolvidos para o cuidado com as sobrancelhas, cílios e face, visando o Embelezamento do Olhar. Aliando técnicas especiais e qualificação, nossos profissionais indicarão os melhores serviços para tornar o seu olhar expressivo e sedutor, aumentando seu poder de comunicação com o mundo.</p>
				</div>
				{% for service in services %}
					<div class="colDescricao" id="desc_{{ service.id }}" style="display:none;">
						<h3>{{ service.name }}</h3>
						<p>{{ service.description|nl2br }}</p>
						<p class="imgCenter"><img src="{{ asset(service.pic) }}"></p>
						
						<div class="rodapeAcoes">
							<span class="share">

								<a href="#" onclick="
									window.open(
									  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
									  'facebook-share-dialog', 
									  'width=626,height=436'); 
									return false;" class="shareFacebook"><span>facebook</span></a>
								<span class="shareLabel">Compartilhe este serviço</span>
							</span>
						</div>

					</div>
				{% endfor %}

			</div>
			<hr class="fim" />
		</div>


{% endblock %}


