{% extends 'SpaFrontendBundle::layout.html.twig' %}

{% block body_class %}noticias{% endblock %}
{% block body %}
<script>
$(document).ready(function() {
    // Get the  current URL
    var pathname = window.location;
 
   // Create the twitter URL
    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Spa das Sobrancelhas';
 
    // Place the text on the page. Change body to wherever you want the button placed. 
    $('#twitter').append('<a target=_blank class="shareTwitter" href=" '+ tweeturl+' "><span>twitter</span></a>')
});
</script>
		<h2><a href="{{ path('spa_frontend_news') }}">Notícias</a></h2>
		<hr class="titulo" />
		<div class="c02">
			<div class="colConteudo">
				<div class="noticiaConteudo">
					<div class="noticiaCabecalho">
						<span class="noticiaCabData">{{ post.createdAt|date('d/m/Y') }}</span>
						<span class="noticiaShare">
							<span id="twitter"></span>
							<a href="#" class="shareFacebook"
								onclick="
								window.open(
								  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
								  'facebook-share-dialog', 
								  'width=626,height=436'); 
								return false;">
								<span>facebook</span>
							</a>
							Compartilhe esta notícia
						</span>
					</div>
					<h3>{{ post.title }}</h3>
					{{ post.content|raw }}
					<p class="imgCenter">
						<img src="{{ asset(post.pic) }}" />
					</p>
					
					<div class="leiatb">
						<h6>Leia também</h6>
						
						<ul>
							{% if (related1) %}
							<li>
								<a href="{{ path('spa_frontend_view_post', { 'post': related1.id }) }}">
									<img src="{{ asset(related1.pic) }}" />
									<span class="texto">
										<span class="titulo">
											{{ related1.title }}
										</span>
										<span class="descricao">
											
											{% if (related1.content|length > 130) %}
												{{ related1.content|slice(0, 130)|raw }} ...
											{% else %}
												{{ related1.content|raw }}
											{% endif %}
										</span>
									</span>
									<hr class="fim" />
								</a>
							</li>
							{% endif %}
							{% if (related2) %}
							<li>
								<a href="{{ path('spa_frontend_view_post', { 'post': related2.id }) }}">	
									<img src="{{ asset(related2.pic) }}" />
									<span class="texto">
										<span class="titulo">
											{{ related2.title }}
										</span>
										<span class="descricao">

											{% if (related2.content|length > 130) %}
												{{ related2.content|slice(0, 130)|raw }} ...
											{% else %}
												{{ related2.content|raw }}
											{% endif %}
										</span>
									</span>
									<hr class="fim" />
								</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<div class="colBanners">
				
				{{ render(controller('SpaFrontendBundle:Default:showBanner', { 'page': 'noticias' })) }}
				
			</div>
			<hr class="fim" />
		</div>

{% endblock %}


