{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video Institucional › Editar</h1>

	{{ form_start(edit_form, { attr: { 'novalidate': 'novalidate' }}) }}
	<div id="spa_backendbundle_post">
	    <div>
			{{ form_label(edit_form.title,'Título') }}
			{{ form_errors(edit_form.title) }}
			{{ form_widget(edit_form.title) }}
		</div>

		<div>
			<label for="spa_backendbundle_post_file">Vídeo</label><br>
			<div style="background:#eee; padding:.5em 1em 0 1em; width:90%; max-width:788px">
				<div>
					{{ form_label(edit_form.file_mp4,'MP4') }}
					{{ form_errors(edit_form.file_mp4) }}
					{{ form_widget(edit_form.file_mp4) }}
					{% if entity.mp4 %}
						<a href="{{ asset(entity.mp4) }}" target="_blank">Video Atual mp4</a>
					{% endif %}
				</div>

				<div>
					{{ form_label(edit_form.file_webm,'Webm') }}
					{{ form_errors(edit_form.file_webm) }}
					{{ form_widget(edit_form.file_webm) }}
					{% if entity.webm %}
						<a href="{{ asset(entity.webm) }}" target="_blank">Video Atual Webm</a>
					{% endif %}
				</div>

				<div>
					{{ form_label(edit_form.file_ogv,'Ogv') }}
					{{ form_errors(edit_form.file_ogv) }}
					{{ form_widget(edit_form.file_ogv) }}
					{% if entity.ogv %}
						<a href="{{ asset(entity.ogv) }}" target="_blank">Video Atual OGV</a>
					{% endif %}
				</div>

				<div>
					{{ form_label(edit_form.file_pic,'Imagem') }}
					{{ form_errors(edit_form.file_pic) }}
					{{ form_widget(edit_form.file_pic) }}
					{% if entity.pic %}
						<img src="{{ asset(entity.pic) }}" style="width: 100px;">
					{% endif %}
				</div>
			</div>
			<br>
			OU<br><br>

			<div>
				{{ form_label(edit_form.url,'URL (Youtube ou Vimeo)') }}
				{{ form_errors(edit_form.url) }}
				{{ form_widget(edit_form.url) }}
				
			</div>
		</div>
	</div>
    <ul class="botoes">
		<li>
			{{ form_widget(edit_form.submit, { label: 'Atualizar' })}}
			
		</li>
		
	</ul>
	{{ form_end(edit_form) }}
	
{% endblock %}

