{% extends '::base.html.twig' %}

{% block body -%}
    <h1>VideoInstitucional</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Mp4</th>
                <td>{{ entity.mp4 }}</td>
            </tr>
            <tr>
                <th>Webm</th>
                <td>{{ entity.webm }}</td>
            </tr>
            <tr>
                <th>Ogv</th>
                <td>{{ entity.ogv }}</td>
            </tr>
            <tr>
                <th>Pic</th>
                <td>{{ entity.pic }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('videoinstitucional') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('videoinstitucional_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
