
{% extends '::base.html.twig' %}


{% block body -%}
<script type="text/javascript">
function addPageBanner(banner_id)
{
	$.ajax({
      type: "POST",
      url: "/admin/" + banner_id + "/addpagebanner/{{ page }}" ,
      
    })
    
}
</script>
<h1> Banners - {{ page }}</h1>

<table class="bannerLista">
	<tbody>
		<tr>
			<td class="bannerCriar" colspan="2"><ul class="botoes"><li><a href="{{ path('banners_new') }}" class="botaoCriar"><i class="icon-plus"></i> Criar novo banner</a></li></ul></td>
		</tr>


		

{% for type, banner in banners %}
	{% if type == 'simples' %}
		{% for simple in banner %}
		<tr>
			<td class="bannerImagem" rowspan="2"><img src="{{ asset(simple.pic) }}" /></td>
			<td class="bannerTitulo">{{ simple.title }}<span> [{{ simple.type }}]</span></td>
		</tr>
		<tr>
			<td class="bannerAcoes"><ul class="ordenacao"><li><a href="{{ path('banners_edit', { id: simple.id }) }}" title="editar"><i class="icon-edit"></i></a></li><li><a href="#" title="apagar"><i class="icon-trash"></i></a></li><li><a href="#" class="botaoCriar" onclick="addPageBanner({{ simple.id }})">Inserir na página&nbsp;&nbsp;<i class="icon-arrow-right"></i></a></li></ul></td>
		</tr>

		<tr>
			<td class="bannerEspacejador" colspan="2">&nbsp;</td>
		</tr>
		{% endfor %}
	
	{% else %}
		<tr>
			<td class="bannerImagem" rowspan="2"><img src="{{ asset(banner.pic) }}" /></td>
			<td class="bannerTitulo">{{ banner.title }}<span> [{{ banner.type }}]</span></td>
		</tr>
		<tr>
			<td class="bannerAcoes"><ul class="ordenacao"><li><a href="{{ path('banners_edit', { id: banner.id }) }}" title="editar"><i class="icon-edit"></i></a></li><li><a href="#" title="apagar"><i class="icon-trash"></i></a></li><li><a href="#" class="botaoCriar" onclick="addPageBanner({{ banner.id }})">Inserir na página&nbsp;&nbsp;<i class="icon-arrow-right"></i></a></li></ul></td>
		</tr>

		<tr>
			<td class="bannerEspacejador" colspan="2">&nbsp;</td>
		</tr>
	{% endif %}
{% endfor %}

		<tr>
			<td class="bannerCriar" colspan="2"><ul class="botoes"><li><a href="{{ path('banners_new') }}" class="botaoCriar"><i class="icon-plus"></i> Criar novo banner</a></li></ul></td>
		</tr>
	</tbody>
</table>	

<table class="records_list listaBanner">
	<thead>
		<tr>
			<th>Ações</th>
			<th>Título</th>
			<th>Imagem</th>
			<th>Tipo</th>
			<th>Link</th>
		</tr>
	</thead>
	<tbody>
		{% for pagebanner in pagebanners %}
			<tr>
				<td><ul class="ordenacao"><li><i class="icon-arrow-up disabled"></i></li><li><a href="#" title="mover para baixo"><i class="icon-arrow-down"></i></a></li><li><a href="#" title="ocultar"><i class="icon-eye-open"></i></a></li><li><a href="{{ path('banners_edit', { id: pagebanner.banner.id }) }}" title="editar"><i class="icon-edit"></i></a></li><li><a href="#" title="apagar"><i class="icon-trash"></i></a></li></ul></td>

				<td><a href="{{ path('banners_edit', { id: pagebanner.banner.id }) }}">{{ pagebanner.banner.title }}</a></td>
				<td><img src="{{ asset(pagebanner.banner.pic) }}" style="width: 44px;" /></td>
				<td>{{ pagebanner.banner.type }}</td>
				<td><a href="{{ pagebanner.banner.url }}">{{ pagebanner.banner.url }}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
