{% extends '::base.html.twig' %}

{% block body -%}
   <h1>Promoções</h1>
    <ul class="botoes">
        <li><a href="{{ path('promocao_new') }}" class="botaoCriar"><i class="icon-plus"></i> Criar nova Promoção</a></li>
    </ul>
    <table class="records_list">
        <thead>
            <tr>
                <th>Ações</th>
                <th>Título</th>
                <th>Imagem</th>
                <th>Link</th>
                <th>Fixa</th>
            </tr>
        </thead>
        <tbody>
                        
        {% for entity in entities %}
            <tr>
                <td>
                    <ul class="ordenacao">
                        <li><i class="icon-arrow-up disabled"></i></li>
                        <li><i class="icon-arrow-down disabled"></i></li>
                        <li><i class="icon-eye-open"></i></li>
                        <li><a href="{{ path('promocao_edit', { 'id': entity.id }) }}" title="editar"><i class="icon-edit"></i></a></li>
                        <li><a href="{{ path('promocao_delete', { 'id': entity.id }) }}" title="apagar"><i class="icon-trash"></i></a></li>
                    </ul>
                </td>
                <td><a href="{{ path('promocao_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td><img src="{{ asset(entity.pic) }}" style="width: 98px" /></td>
                <td>{{ entity.slug }}</td>
                <td>{% if (entity.fixed == 1) %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="botoes">
        <li><a href="{{ path('promocao_new') }}" class="botaoCriar"><i class="icon-plus"></i> Criar nova Promoção</a></li>
    </ul>
    {% endblock %}
